input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: white;
}

input[type="checkbox"]:checked {
    background-color: #FEC533;
    /* 체크된 상태일 때의 배경색을 노란색으로 설정 */
    border-color: #FEC533;
    /* 체크된 상태일 때의 테두리 색상도 노란색으로 설정할 수 있습니다. */
}